NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_JUDGE_BASE_URL=http://192.168.31.245:3000
JUDGE_TOKEN_SECRET=change-me-with-a-long-random-secret
